
# Ignore Python intermediate files
*/__pycache__/

#ignore building files
build/
dist/
*.egg-info/

.vscode/

# Ignore compiled Python files
*.pyc
*.pyo
*.pyd

# Ignore post processing reuslt files
tests/*.vtk
tests/*.vtu
tests/*.pos